In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("/Users/hoangvulinh/Documents/NLP Learning/NLP_RoadMap/TextPreprocessingandWordEmbeddings/Data/spam.csv",encoding="ISO-8859-1")
print(data.head())

     v1                                                 v2 Unnamed: 2  \
0   ham  Go until jurong point, crazy.. Available only ...        NaN
1   ham                      Ok lar... Joking wif u oni...        NaN
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3   ham  U dun say so early hor... U c already then say...        NaN
4   ham  Nah I don't think he goes to usf, he lives aro...        NaN

  Unnamed: 3 Unnamed: 4
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN

In [7]:
#expanding the displa of text sms column
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
#using only v1 and v2 column
data = data[['v1','v2']]
data.head()

,v1,v2
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"

In [8]:
#checking the count of the dependent variable
data['v1'].value_counts()

v1
ham     4825
spam     747
Name: count, dtype: int64

Steps to Clean the Data

Punctuation Removal

In [10]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [14]:
#defining the function to remove punctuation
def remove_punctuation(text):
    punctuationfree = "".join([i for i in text if i not in string.punctuation])
    return punctuationfree

In [15]:
#storing the punctuation free text
data['clean_msg'] = data['v2'].apply(lambda x:remove_punctuation(x))

In [16]:
data.head()

,v1,v2,clean_msg
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...",Go until jurong point crazy Available only in bugis n great world la e buffet Cine there got amore wat
1,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive entry questionstd txt rateTCs apply 08452810075over18s
3,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say
4,ham,"Nah I don't think he goes to usf, he lives around here though",Nah I dont think he goes to usf he lives around here though

In [17]:
#lowering the text (doing this step for text processing every time you work on an NLP problem is unnecessary, as lower casing can lead to a loss of information for some problems)
#For example, when dealing with a person's emotions in any project, words written in upper case can signify frustration or excitement.
data['msg_lower'] = data['clean_msg'].apply(lambda x: x.lower())

In [18]:
data.head()

,v1,v2,clean_msg,msg_lower
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...",Go until jurong point crazy Available only in bugis n great world la e buffet Cine there got amore wat,go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat
1,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive entry questionstd txt rateTCs apply 08452810075over18s,free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005 text fa to 87121 to receive entry questionstd txt ratetcs apply 08452810075over18s
3,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say,u dun say so early hor u c already then say
4,ham,"Nah I don't think he goes to usf, he lives around here though",Nah I dont think he goes to usf he lives around here though,nah i dont think he goes to usf he lives around here though

Tokenization

In [28]:
#defining function for tokenization
import re
def tokenization(text):
    tokens = re.split('\W+', text)
    return tokens

#applying function to the column
data['msg_tokenized'] = data['msg_lower'].apply(lambda x:tokenization(x))

In [30]:
data['msg_tokenized'].head()

0                                                           [go, until, jurong, point, crazy, available, only, in, bugis, n, great, world, la, e, buffet, cine, there, got, amore, wat]
1                                                                                                                                                        [ok, lar, joking, wif, u, oni]
2    [free, entry, in, 2, a, wkly, comp, to, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, to, 87121, to, receive, entry, questionstd, txt, ratetcs, apply, 08452810075over18s]
3                                                                                                                               [u, dun, say, so, early, hor, u, c, already, then, say]
4                                                                                                             [nah, i, dont, think, he, goes, to, usf, he, lives, around, here, though]
Name: msg_tokenized, dtype: object

Stop Word Removal

In [31]:
#importing nlp library
import nltk
#Stop words present in the library
stopwords = nltk.corpus.stopwords.words('english')

In [32]:
stopwords[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [33]:
#defining the function to remove stopwords from tokenized text
def remove_stopwords(text):
    output = [i for i in text if i not in stopwords]
    return output

In [34]:
#applying the function
data['no_stopwords'] = data['msg_tokenized'].apply(lambda x : remove_stopwords(x))

In [35]:
data['no_stopwords'].head()

0                                                                [go, jurong, point, crazy, available, bugis, n, great, world, la, e, buffet, cine, got, amore, wat]
1                                                                                                                                     [ok, lar, joking, wif, u, oni]
2    [free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receive, entry, questionstd, txt, ratetcs, apply, 08452810075over18s]
3                                                                                                                      [u, dun, say, early, hor, u, c, already, say]
4                                                                                                               [nah, dont, think, goes, usf, lives, around, though]
Name: no_stopwords, dtype: object

Stemming

In [36]:
#This step, known as text standardization, stems or reduces words to their root or base form. For example, we stem words like ‘programmer,’ ‘programming,’ and ‘program’ to ‘program.’
#However, stemming can cause the root form to lose its meaning or not be reduced to a proper English word. We will see this in the steps below.
#importing the stemming function from nltk library
from nltk.stem.porter import PorterStemmer
#defining the object for stemming
porter_stemmer = PorterStemmer()

In [37]:
#defining a function for stemming
def stemming(text):
    stem_text = [porter_stemmer.stem(word) for word in text]
    return stem_text
data['msg_stemmed'] = data['no_stopwords'].apply(lambda x:stemming(x))

In [38]:
data['msg_stemmed'].head()

0                                                                  [go, jurong, point, crazi, avail, bugi, n, great, world, la, e, buffet, cine, got, amor, wat]
1                                                                                                                                   [ok, lar, joke, wif, u, oni]
2    [free, entri, 2, wkli, comp, win, fa, cup, final, tkt, 21st, may, 2005, text, fa, 87121, receiv, entri, questionstd, txt, ratetc, appli, 08452810075over18]
3                                                                                                                  [u, dun, say, earli, hor, u, c, alreadi, say]
4                                                                                                             [nah, dont, think, goe, usf, live, around, though]
Name: msg_stemmed, dtype: object

Lemmatization

In [39]:
from nltk.stem import WordNetLemmatizer
#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()

In [40]:
#defining the function for lemmatization
def lemmatizer(text):
    lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
    return lemm_text
data['msg_lemmatized']=data['no_stopwords'].apply(lambda x:lemmatizer(x))

In [41]:
data['msg_lemmatized'].head()

0                                                                [go, jurong, point, crazy, available, bugis, n, great, world, la, e, buffet, cine, got, amore, wat]
1                                                                                                                                     [ok, lar, joking, wif, u, oni]
2    [free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receive, entry, questionstd, txt, ratetcs, apply, 08452810075over18s]
3                                                                                                                      [u, dun, say, early, hor, u, c, already, say]
4                                                                                                                  [nah, dont, think, go, usf, life, around, though]
Name: msg_lemmatized, dtype: object